html, body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
  margin: 10px;
  width: 700px;
}

h3, p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

separator{
  width: 40%;
  height: 47px;
  border-bottom: 5px solid black;
  position: absolute;
}

field {
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
  color: white;
  background-color: black;
}

canvas {
  display: block;
}
